.places {
  font-family: "Inter", Arial, sans-serif;
  margin: 92px auto 0;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 800px) {
  .places {
    margin: 88px auto 0;
    max-width: 720px;
  }
}

@media screen and (max-width: 375px) {
  .places {
    margin: 64px auto 0;
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.place {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

@media screen and (max-width: 375px) {
  .place {
    flex-direction: column;
  }
}

.place:last-child {
  margin-bottom: 0;
}

.place__row {
  display: flex;
  margin-bottom: 48px;
}

@media screen and (max-width: 375px) {
.place__row {
  flex-direction: column;
    margin-bottom: 32px;
}
}

.place__row:last-child {
  margin-bottom: 0px;
}

.place__row_column-width_f {
  width: 460px;
  margin-right: 40px;
}

@media screen and (max-width: 1024px) {
  .place__row_column-width_f {
    width: 440px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 800px) {
  .place__row_column-width_f {
    width: 340px;
    margin-right: 28px;
  }
}

@media screen and (max-width: 800px) {
  .place__row_column-width_f {
    width: 288px;
    margin-right: 0;
  }
}

.place__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (max-width: 375px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 375px) {
  .place__website {
    display: none;
  }
}

.place__website-url-heading {
  font-size: 12px;
  line-height: 12px;
  margin-top: 0;
  }

.place__website-link {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  transition: opacity 0.7s ease;
}

.place__website-link:hover {
  opacity: 0.4;
}

.place__paragraph {
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 24px;
}

@media screen and (max-width: 375px) {
.place__paragraph {
  font-size: 16px;
  line-height: 26px;
}
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .place__image {
    object-fit: contain;
  }
}
@media screen and (max-width: 375px) {
  .place__image {
    position: relative;
    left: -16px;
    width: calc(100% + 32px);
    margin-bottom: 32px;
  }
}
