@import url("./__place/places__place.css");
@import url("./__place-title/places__place-title.css");
@import url("./__place-image/places__place-image.css");
@import url("./__place-website/places__place-website.css");
@import url("./__place-website-url-heading/__place-website-url-heading.css");
@import url("./__place-website-link/places__place-website-link.css");
@import url("./__place-paragraph/places__place-paragraph.css");
@import url("./__place-paragraphs/places__place-paragraphs.css");

.places {
  font-family: "Inter", Arial, sans-serif;
  margin: 92px auto 0;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 92px 0 0;
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 800px) {
  .places {
    margin: 88px 0 0;
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 375px) {
  .places {
    margin: 64px 0 0;
    padding: 0 16px 0;
  }
}
