.photo-grid__item {
  object-fit: cover;
  width: 100%;
  height: 284px;
}

@media screen and (max-width: 1024px) {
  .photo-grid__item {
    height: 225px;
  }
}

@media screen and (max-width: 800px) {
  .photo-grid__item {
    height: 254px;
  }
}

@media screen and (max-width: 375px) {
  .photo-grid__item {
    height: 216px;
  }
}
