.photo-grid__item {
  object-fit: cover;
  width: 100%;
  max-height: 213px;
}

@media screen and (max-width: 1024px) {
  .photo-grid__item {
    max-height: 225px;
  }
}

@media screen and (max-width: 800px) {
  .photo-grid__item {
    max-height: 264px;
  }
}

@media screen and (max-width: 375px) {
  .photo-grid__item {
    max-height: 216px;
  }
}
