@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);

.intro {
  font-family: "Inter", Arial, sans-serif;
  max-width: 690px;
  /*padding: 92px 456px 0 148px;*/
  margin: 92px auto 0 156px;
}

@media screen and (max-width: 1024px) {
  .intro {
    /*padding: 85px 167px 0;*/
    margin: 85px auto 0;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    max-width: 720px;
    padding: 0 24px 0;
    margin: 88px 0 0;
  }
}

@media screen and (max-width: 375px) {
  .intro {
    max-width: 288px;
   padding: 0 16px 0;
   margin: 64px 0 0;
  }
}
