@import url("./__link-list/footer__link-list.css");
@import url("./__link-item/footer__link-item.css");
@import url("./__author/footer__author.css");
@import url("./__link/footer__link.css");

.footer {
  font-family: "Inter", Arial, sans-serif;
  padding: 92px 48px 0;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding: 64px 16px 0;
    flex-direction: column;
  }
}
