.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 375px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
